*
!.vim
!.vim/*
!.vim/*/*
!.vim/*/*/*
!.vim/*/*/*/*
!.vimrc
!.gvimrc
!.zhrc
!.gitignore
!.tmux
!.tmux/*
!.tmux/*/*
!.tmux/*/*/*
!.tmux/*/*/*/*
!.tmux.conf
!mac/
!mac/*
node_modules
client-build
build.txt
config_build.json
config_local*
client/audio/music
.DS_Store
*.swp
.netrwhist
.vim/bundle
